body{
    font-family: 'Raleway', sans-serif;
}

img {
    filter: brightness(40%);
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 0.25rem;
    left: 15%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;
}

@media only screen and (max-width: 767px) {
    .course-img {
        width: 100%;

    }
}
 